AlexaReagiert2024-NodeRED
[{"id":"8d48203ecac5f895","type":"server-events","z":"60307493.14178c","name":"Event abgreifen","server":"5a3777c7.b71588","version":3,"exposeAsEntityConfig":"","eventType":"alexa_actionable_notification","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":480,"wires":[["eb1a6d1be329e587"]]},{"id":"eb1a6d1be329e587","type":"switch","z":"60307493.14178c","name":"Büro-Licht-Event abfragen","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"Buero_licht_einschalten","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":480,"wires":[["4081118921bdd9d0"]]},{"id":"4081118921bdd9d0","type":"switch","z":"60307493.14178c","name":"Antworten","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":480,"wires":[[],[],[]]},{"id":"3095bfac95d38e34","type":"comment","z":"60307493.14178c","name":"Alexa Antwort Bürolicht","info":"","x":160,"y":420,"wires":[]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
