backupsamba
[{"id":"396325e9b074497f","type":"inject","z":"60307493.14178c","name":"Alle 30min zw. 15:00-23:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 15-22 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":1540,"wires":[["72d1644a7310ce45"]]},{"id":"72d1644a7310ce45","type":"ping","z":"60307493.14178c","protocol":"Automatic","mode":"triggered","name":"","host":"192.168.1.84","timer":"20","inputs":1,"x":440,"y":1540,"wires":[["2ff2a6cf42bf2c66"]]},{"id":"2ff2a6cf42bf2c66","type":"switch","z":"60307493.14178c","name":"Privater Laptop ist an","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1540,"wires":[["59d357fa102962de"]]},{"id":"eede1d738053752d","type":"server-events","z":"60307493.14178c","name":"HA startet neu","server":"5a3777c7.b71588","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":1880,"wires":[["eebacce3168d9804"]]},{"id":"eebacce3168d9804","type":"switch","z":"60307493.14178c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1880,"wires":[["ab56c0ab8fe58f96"]]},{"id":"ab56c0ab8fe58f96","type":"api-call-service","z":"60307493.14178c","name":"Samba Backup Sensor wiederherstellen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"hassio","service":"addon_stdin","areaId":[],"deviceId":[],"entityId":[],"data":"{\t  \"addon\": \"15d21743-samba-backup\",\t  \"input\": \"restore-sensor\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":1880,"wires":[[]]},{"id":"9e5a1084b9b3cbbe","type":"rbe","z":"60307493.14178c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1080,"y":1540,"wires":[["f98c545a84c3f5ea"]]},{"id":"c949d75ff180a93f","type":"inject","z":"60307493.14178c","name":"Reset 15 Uhr","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"","x":910,"y":1620,"wires":[["9e5a1084b9b3cbbe"]]},{"id":"cf3cc2f5da2ca073","type":"inject","z":"60307493.14178c","name":"Test inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":300,"y":1480,"wires":[["72d1644a7310ce45"]]},{"id":"59d357fa102962de","type":"change","z":"60307493.14178c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1540,"wires":[["9e5a1084b9b3cbbe"]]},{"id":"f98c545a84c3f5ea","type":"api-call-service","z":"60307493.14178c","name":"Start Sicherung Komplett","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"hassio","service":"addon_stdin","areaId":[],"deviceId":[],"entityId":[],"data":"{\t  \"addon\": \"15d21743_samba_backup\",\t  \"input\": \"trigger\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":1540,"wires":[[]]},{"id":"082b52db195c6b65","type":"api-call-service","z":"60307493.14178c","name":"Start Sicherung mit Ausnahmen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"hassio","service":"addon_stdin","areaId":[],"deviceId":[],"entityId":[],"data":"{\t  \"addon\": \"15d21743_samba_backup\",\t  \"input\": {\t    \"command\": \"trigger\",\t    \"backup_name\": \"My overwritten backup name {date}\",\t    \"backup_password\": \"some_pwd\",\t    \"exclude_addons\": [\t      \"core_mariadb\",\t      \"15d21743_samba_backup\",\t      \"a0d7b954_aircast\",\t      \"a0d7b954_esphome\",\t      \"3a26b21d_eufy_security_addon\",\t      \"a0d7b954_grafana\",\t      \"core_letsencrypt\",\t      \"core_mosquitto\",\t      \"a0d7b954_nodered\",\t      \"75a80a57_rtsp_simple_server\",\t      \"a0d7b954_unifi\",\t      \"a0d7b954_ssh\",\t      \"core_samba\"\t    ],\t    \"exclude_folders\": [\t      \"ssl\",\t      \"www\",\t      \"custom_components\",\t      \"esphome\",\t      \"node-red\",\t      \"share\",\t      \"media\"\t    ]\t  }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":1640,"wires":[[]]},{"id":"4ae50b6e38827bcb","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristans Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":1740,"wires":[[]]},{"id":"d7e943b1d94db51b","type":"function","z":"60307493.14178c","name":"IPhone Message erstellen","func":"msg.payload = {\"data\":{\"message\":\"Backup is \" + msg.payload,\"title\":\"Wichtige Nachricht vom HA-Server!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"HA-Server\"}}}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1740,"wires":[["4ae50b6e38827bcb"]]},{"id":"5706467ac8f0f4c5","type":"server-state-changed","z":"60307493.14178c","name":"Status Samba Backup","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.samba_backup","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1740,"wires":[["eb5ea525606f9140"]]},{"id":"eb5ea525606f9140","type":"switch","z":"60307493.14178c","name":"<> IDLE","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"IDLE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1740,"wires":[["d7e943b1d94db51b"]]},{"id":"1854365e3e6e7d3c","type":"comment","z":"60307493.14178c","name":"Samba Backup Sensor wiederherstellen","info":"","x":200,"y":1820,"wires":[]},{"id":"c703bae8c3ba8b59","type":"comment","z":"60307493.14178c","name":"Sicherung auf Privaten Laptop (wenn verfügbar)","info":"","x":220,"y":1440,"wires":[]},{"id":"8fec056a9619628c","type":"comment","z":"60307493.14178c","name":"Info über Backup-Zustand auf's Handy","info":"","x":190,"y":1680,"wires":[]},{"id":"a769de0b94680204","type":"comment","z":"60307493.14178c","name":"Alternativer Node mit Ausnahmen","info":"","x":1390,"y":1600,"wires":[]},{"id":"10560177f66b417c","type":"rbe","z":"60307493.14178c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":510,"y":1740,"wires":[[]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
