DämmungsAutomations
[{"id":"536b182ff014f21f","type":"comment","z":"ed84b50c83d3cd56","name":"Battle: 'Steuer dein Leben' vs. 'Tristan's Smartes Heim'","info":"","x":240,"y":40,"wires":[]},{"id":"d712ea1701828157","type":"comment","z":"ed84b50c83d3cd56","name":"Teil1: 30sek keine Bewegung - Dimmern auf 50% - Weitere 30sek ohne Bewegung => Lampe aus","info":"","x":430,"y":120,"wires":[]},{"id":"32b956a23973c4a5","type":"server-state-changed","z":"ed84b50c83d3cd56","name":"Bewegung erkannt","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wz_schrankwand_bewegung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":320,"wires":[["e758039b51e3c6ed","efee34cf0e70f656"],[]]},{"id":"708421072512c818","type":"inject","z":"ed84b50c83d3cd56","name":"Testmodus ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":180,"y":220,"wires":[["efee34cf0e70f656","e758039b51e3c6ed"]]},{"id":"5eb09a1e7a59f825","type":"api-call-service","z":"ed84b50c83d3cd56","name":"Lampe auf 50% dimmen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wz_decke_vorne"],"data":"{\t  \"brightness\": 128 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":240,"wires":[["be78791328f4dd66"]]},{"id":"7ade5abd59a7d5d0","type":"api-call-service","z":"ed84b50c83d3cd56","name":"Lampe auf ursprüngliche Helligkeit","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wz_decke_vorne"],"data":"{\"brightness\":\"{{flow.helligkeit}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2320,"y":240,"wires":[["7eb1afd2aafab777"]]},{"id":"b5d15fafe9caaa4c","type":"change","z":"ed84b50c83d3cd56","name":"Timer deaktivieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":320,"wires":[["be78791328f4dd66"]]},{"id":"2b5017e6b230bb12","type":"inject","z":"ed84b50c83d3cd56","name":"Testmodus Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":180,"wires":[["efee34cf0e70f656","e758039b51e3c6ed"]]},{"id":"f85be93a551d6b57","type":"trigger","z":"ed84b50c83d3cd56","name":"30 Sekunden ohne Bewegung","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":240,"wires":[["19c877fcb264e798"]]},{"id":"be78791328f4dd66","type":"trigger","z":"ed84b50c83d3cd56","name":"weitere 30 Sekunden ohne Bewegung","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":1950,"y":240,"wires":[["7ade5abd59a7d5d0"]]},{"id":"c5c3f66c3a4a7f5b","type":"api-call-service","z":"ed84b50c83d3cd56","name":"Lampe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.wz_decke_vorne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2850,"y":240,"wires":[[]]},{"id":"19c877fcb264e798","type":"change","z":"ed84b50c83d3cd56","name":"Helligkeit merken","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"data.attributes.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":240,"wires":[["5eb09a1e7a59f825"]]},{"id":"ebb26926d806735d","type":"api-call-service","z":"ed84b50c83d3cd56","name":"Lampe auf ursprüngliche Helligkeit","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wz_decke_vorne"],"data":"{\"brightness\":\"{{flow.helligkeit}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":320,"wires":[["6928a53d3ebc1b47"]]},{"id":"efee34cf0e70f656","type":"switch","z":"ed84b50c83d3cd56","name":"gesp. Helligkeit vorhanden?","property":"helligkeit","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":320,"wires":[["ebb26926d806735d"]]},{"id":"7eb1afd2aafab777","type":"change","z":"ed84b50c83d3cd56","name":"Gesp. Helligkeit löschen","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":240,"wires":[["c5c3f66c3a4a7f5b"]]},{"id":"e8b77bdfb60a3632","type":"api-call-service","z":"ed84b50c83d3cd56","name":"Licht an (letzte Einstellung)","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wz_decke_vorne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":180,"wires":[["f85be93a551d6b57"]]},{"id":"6928a53d3ebc1b47","type":"change","z":"ed84b50c83d3cd56","name":"Gesp. Helligkeit löschen","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":320,"wires":[["b5d15fafe9caaa4c"]]},{"id":"e758039b51e3c6ed","type":"api-current-state","z":"ed84b50c83d3cd56","name":"Stand Licht abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.wz_decke_vorne","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":240,"wires":[["ce692fb265b5160e","bf140ad3164050c7"]]},{"id":"ce692fb265b5160e","type":"switch","z":"ed84b50c83d3cd56","name":"An / Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":240,"wires":[["e8b77bdfb60a3632"],["f85be93a551d6b57"]]},{"id":"bf140ad3164050c7","type":"debug","z":"ed84b50c83d3cd56","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]
