Feuchtigkeitsbenachrichtung
[{"id":"b83b817e09b16813","type":"comment","z":"60307493.14178c","name":"Wässerungsbedarfs Pflanzen","info":"","x":140,"y":2520,"wires":[]},{"id":"6a51c6e66ef2e9b7","type":"inject","z":"60307493.14178c","name":"18 Uhr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2600,"wires":[["d13ee73deb1f7faf"]]},{"id":"ea4ef5b83e28cc14","type":"api-current-state","z":"60307493.14178c","name":"Büro Pflanze <35","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"35","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.buero_pflanze_feuchtigkeit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":2600,"wires":[["5cf0f830e4334428","502401302085fb4a"],[]]},{"id":"baaf8f620d266242","type":"api-current-state","z":"60307493.14178c","name":"Kinderzimmer Pflanze <35","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"35","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.kinderzimmer_pflanze_feuchtigkeit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":2660,"wires":[["5cf0f830e4334428","3fd795aaf2be0d6c"],[]]},{"id":"2104b55a60ff3352","type":"api-current-state","z":"60307493.14178c","name":"Ranke <35","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"35","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.ranke_feuchtigkeit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2720,"wires":[["5cf0f830e4334428","c28b4ad8bf616d6f"],[]]},{"id":"e5e707ac27df5c31","type":"api-current-state","z":"60307493.14178c","name":"Zitronenbaum <35","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"35","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.zitronenbaum_feuchtigkeit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":2780,"wires":[["5cf0f830e4334428","a954aaf93c7bdbe7"],[]]},{"id":"5c4cf03ce6c2bd4a","type":"api-current-state","z":"60307493.14178c","name":"Zironenbaum Garten <35","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"35","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.zitronenbaum_garten_feuchtigkeit","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":2840,"wires":[["5cf0f830e4334428","80610b037c618f3f"],[]]},{"id":"e59773e7e049c5e5","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Der Zitronenbaum hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2780,"wires":[[]]},{"id":"6cf5cf81995fd518","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die große Ranke hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2720,"wires":[[]]},{"id":"209ce7755eb12e90","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die Pflaze im Kinderzimmer hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2660,"wires":[[]]},{"id":"b480c154ddedac16","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die Pflaze im Büro hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2600,"wires":[[]]},{"id":"f119cad8bb16dc13","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Der Zitronenbaum zum Garten hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2840,"wires":[[]]},{"id":"27def8bad71743f2","type":"server-state-changed","z":"60307493.14178c","name":"WZ Bewegung","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wz_bewegung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":2920,"wires":[["4b5411696aa1879d"],[]]},{"id":"4b5411696aa1879d","type":"time-range-switch","z":"60307493.14178c","name":"","lat":"","lon":"","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":330,"y":2920,"wires":[["d13ee73deb1f7faf"],[]]},{"id":"5cf0f830e4334428","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1150,"y":2900,"wires":[["55c84cc464bc67d0"]]},{"id":"11ce4b655b94c332","type":"api-call-service","z":"60307493.14178c","name":"Msg an WZ Alexa","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_wz_echo_show","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{data.attributes.friendly_name}} ist zu niedrig. Bitte Pflanze gießen!\",\"title\":\"Wichtige Nachricht von den Pflanzen!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"Pflanzen\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":2900,"wires":[[]]},{"id":"bd6758e80f32f101","type":"api-call-service","z":"60307493.14178c","name":"Msg an Sonja Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sonjaiphone12","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die Pflaze im Büro hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2560,"wires":[[]]},{"id":"a81f4263f985c714","type":"api-call-service","z":"60307493.14178c","name":"Msg an Sonja Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sonjaiphone12","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die Pflaze im Kinderzimmer hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2640,"wires":[[]]},{"id":"699d304dc8ff604b","type":"api-call-service","z":"60307493.14178c","name":"Msg an Sonja Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sonjaiphone12","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Die große Ranke hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2700,"wires":[[]]},{"id":"247681ebc30ea384","type":"api-call-service","z":"60307493.14178c","name":"Msg an Sonja Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sonjaiphone12","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Der Zitronenbaum hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2760,"wires":[[]]},{"id":"7204c998f195c4d7","type":"api-call-service","z":"60307493.14178c","name":"Msg an Sonja Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sonjaiphone12","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Der Zitronenbaum zum Garten hat so einen Durst!\",\t   \"title\":\"Wichtige Nachricht von den Pflanzen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Pflanzen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":2820,"wires":[[]]},{"id":"502401302085fb4a","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1140,"y":2600,"wires":[["bd6758e80f32f101","b480c154ddedac16"]]},{"id":"3fd795aaf2be0d6c","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1140,"y":2660,"wires":[["a81f4263f985c714","209ce7755eb12e90"]]},{"id":"c28b4ad8bf616d6f","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1140,"y":2720,"wires":[["699d304dc8ff604b","6cf5cf81995fd518"]]},{"id":"a954aaf93c7bdbe7","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1140,"y":2780,"wires":[["247681ebc30ea384","e59773e7e049c5e5"]]},{"id":"80610b037c618f3f","type":"delay","z":"60307493.14178c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1140,"y":2840,"wires":[["7204c998f195c4d7","f119cad8bb16dc13"]]},{"id":"55c84cc464bc67d0","type":"api-current-state","z":"60307493.14178c","name":"Sonja zu Hause","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.sonja","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":2900,"wires":[["11ce4b655b94c332"],[]]},{"id":"d13ee73deb1f7faf","type":"api-current-state","z":"60307493.14178c","name":"Bewässerungserinnerung an","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bewasserungserinnerung","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":2700,"wires":[["3f59afe2a4f288b5"],[]]},{"id":"3f59afe2a4f288b5","type":"junction","z":"60307493.14178c","x":560,"y":2700,"wires":[["ea4ef5b83e28cc14","baaf8f620d266242","2104b55a60ff3352","e5e707ac27df5c31","5c4cf03ce6c2bd4a"]]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
