gartenbewässerung
[{"id":"ab4b3f6c57ea8dd0","type":"comment","z":"83653e1a.ab0f2","name":"Automatische Rasenbewässerung V2.0","info":"# ","x":170,"y":1920,"wires":[]},{"id":"be36d26ac869d335","type":"suncron","z":"83653e1a.ab0f2","name":"30 min vor Sonnenaufgang","lat":"51.665302","lon":"7.1808314","replay":false,"ejectScheduleOnUpdate":false,"sunrisePayload":"on","sunrisePayloadType":"str","sunriseTopic":"","sunriseOffsetType":"-1","sunriseOffsetHours":0,"sunriseOffsetMinutes":"30","sunriseOffset":"1800","sunriseEndPayload":"","sunriseEndPayloadType":"str","sunriseEndTopic":"","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"","goldenHourEndPayloadType":"str","goldenHourEndTopic":"","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"","solarNoonPayloadType":"str","solarNoonTopic":"","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"","goldenHourPayloadType":"str","goldenHourTopic":"","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"","sunsetStartPayloadType":"str","sunsetStartTopic":"","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"","sunsetPayloadType":"str","sunsetTopic":"","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"","duskPayloadType":"str","duskTopic":"","duskOffsetType":1,"duskOffsetHours":0,"duskOffsetMinutes":0,"duskOffset":0,"nauticalDuskPayload":"","nauticalDuskPayloadType":"str","nauticalDuskTopic":"","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"","nightPayloadType":"str","nightTopic":"","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"","nadirPayloadType":"str","nadirTopic":"","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"","nightEndPayloadType":"str","nightEndTopic":"","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"","nauticalDawnPayloadType":"str","nauticalDawnTopic":"","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"","dawnPayloadType":"str","dawnTopic":"","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":140,"y":2100,"wires":[["114651a24b50df6e"]]},{"id":"114651a24b50df6e","type":"api-current-state","z":"83653e1a.ab0f2","name":"Automatik aktiv?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.aut_rasenbewasserung","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":2100,"wires":[["b251550a7b9bcadf"],[]]},{"id":"db1f9f078f26efc3","type":"api-current-state","z":"83653e1a.ab0f2","name":"Erw. Temperatur","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":2100,"wires":[["ef732dc1bf17cf8a"]]},{"id":"ef732dc1bf17cf8a","type":"switch","z":"83653e1a.ab0f2","name":"Erw. Wasserbedarf ermitteln","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"},{"t":"gte","v":"25","vt":"num"},{"t":"gte","v":"20","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":1600,"y":2100,"wires":[["08fe3edd41824444"],["774a38446b8fb924"],["534026b3d362dd78"],["49f1b35221e9cc37"]]},{"id":"08fe3edd41824444","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2000,"wires":[["ce46adab4ac339f5"]]},{"id":"26399874bf691679","type":"inject","z":"83653e1a.ab0f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2040,"wires":[["114651a24b50df6e"]]},{"id":"534026b3d362dd78","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2120,"wires":[["423bdf110395a2e4"]]},{"id":"774a38446b8fb924","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2060,"wires":[["ee60cd5a8bbde69e"]]},{"id":"49f1b35221e9cc37","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2180,"wires":[["9d30e42a7d9b5469"]]},{"id":"ce46adab4ac339f5","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -5","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-5+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-5+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2000,"wires":[["b2a0ed870e063f56"]]},{"id":"ee60cd5a8bbde69e","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -4","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-4+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-4+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2060,"wires":[["b2a0ed870e063f56","f09454f2e64d517b"]]},{"id":"423bdf110395a2e4","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -3","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-3+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-3+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2120,"wires":[["b2a0ed870e063f56"]]},{"id":"9d30e42a7d9b5469","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -2","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-2+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-2+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2180,"wires":[["b2a0ed870e063f56"]]},{"id":"bb5cbef08fb4b32f","type":"comment","z":"83653e1a.ab0f2","name":"\"Restwassermenge\" kalulieren (-Tagesbedarf+gefallener Regen)","info":"","x":2270,"y":1940,"wires":[]},{"id":"6d41a48666f3418b","type":"comment","z":"83653e1a.ab0f2","name":"Wasserbedarf für heute ermitteln","info":"","x":1430,"y":1940,"wires":[]},{"id":"b2a0ed870e063f56","type":"api-current-state","z":"83653e1a.ab0f2","name":"Erw. Niederschlag abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_forecast_precipitation","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"erwartet","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2700,"y":2080,"wires":[["030cacd0be3cb723"]]},{"id":"5014d0cbac54f443","type":"comment","z":"83653e1a.ab0f2","name":"Erw. Niederschlag temporär dazurechnen","info":"","x":2740,"y":1940,"wires":[]},{"id":"789e9526f1e20587","type":"change","z":"83653e1a.ab0f2","name":"Erw. Niederschlag addieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload+erwartet","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":2020,"wires":[["63906d97a3a833c3"]]},{"id":"63906d97a3a833c3","type":"switch","z":"83653e1a.ab0f2","name":"Erw. Restregenmenge < 0","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3630,"y":2080,"wires":[["39d8d2ac8b072f85"]]},{"id":"dbb244629979a4fd","type":"api-call-service","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge um Beregnungsmenge erhöhen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload+15\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4740,"y":2160,"wires":[[]]},{"id":"c57b7023d3d69258","type":"delay","z":"83653e1a.ab0f2","name":"","pauseType":"delay","timeout":"35","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3890,"y":2160,"wires":[["cc49765cc1720fba"]]},{"id":"cc49765cc1720fba","type":"api-call-service","z":"83653e1a.ab0f2","name":"Rasenbewässerung aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.rasen","switch.zisterne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4170,"y":2080,"wires":[["297459314b038581"]]},{"id":"361b4eb19bb1e7f1","type":"comment","z":"83653e1a.ab0f2","name":"Muss es beregnet werden?","info":"","x":3630,"y":1940,"wires":[]},{"id":"39d8d2ac8b072f85","type":"api-call-service","z":"83653e1a.ab0f2","name":"Rasenbewässerung an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.rasen","switch.zisterne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3880,"y":2080,"wires":[["c57b7023d3d69258"]]},{"id":"6daca2bb4085b204","type":"comment","z":"83653e1a.ab0f2","name":"Beregnung für 35 min (15mm) laufen lassen","info":"","x":4030,"y":1940,"wires":[]},{"id":"b251550a7b9bcadf","type":"api-current-state","z":"83653e1a.ab0f2","name":"Gefallene Regenmenge abfragen (V2)","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.daily_rain_rate_piezo","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":2100,"wires":[["b089ada30cc09586"]]},{"id":"ea5a5cb615a7519d","type":"comment","z":"83653e1a.ab0f2","name":"Tatsächliche Regenmenge letzten 24h abfragen","info":"","x":780,"y":1960,"wires":[]},{"id":"b089ada30cc09586","type":"change","z":"83653e1a.ab0f2","name":"Letzten 24h tats. Regen zw.-speichern (v2)","rules":[{"t":"set","p":"tagesregenmenge","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2100,"wires":[["db1f9f078f26efc3"]]},{"id":"030cacd0be3cb723","type":"api-current-state","z":"83653e1a.ab0f2","name":"Regenwahrscheinlichkeit über 70%?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_precipitation_probability","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3010,"y":2080,"wires":[["789e9526f1e20587"],["63906d97a3a833c3","96733b1318497cf0"]]},{"id":"f09454f2e64d517b","type":"debug","z":"83653e1a.ab0f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2730,"y":2180,"wires":[]},{"id":"9f75bf42ae3b1139","type":"inject","z":"83653e1a.ab0f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":4640,"y":2020,"wires":[[]]},{"id":"d10936fa9d661c5d","type":"api-call-service","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge auf 15 setzen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": 15\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4680,"y":2020,"wires":[[]]},{"id":"297459314b038581","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verb. Regenmenge <0","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":4420,"y":2080,"wires":[["d10936fa9d661c5d"],["dbb244629979a4fd"]]},{"id":"96733b1318497cf0","type":"debug","z":"83653e1a.ab0f2","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3620,"y":2020,"wires":[]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]
