gartenbewässerungV2
[{"id":"ab4b3f6c57ea8dd0","type":"comment","z":"83653e1a.ab0f2","name":"Automatische Rasenbewässerung V2.0","info":"# ","x":190,"y":1960,"wires":[]},{"id":"db1f9f078f26efc3","type":"api-current-state","z":"83653e1a.ab0f2","name":"Erw. Temperatur","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":2100,"wires":[["ef732dc1bf17cf8a"]]},{"id":"ef732dc1bf17cf8a","type":"switch","z":"83653e1a.ab0f2","name":"Erw. Wasserbedarf ermitteln","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"},{"t":"gte","v":"25","vt":"num"},{"t":"gte","v":"20","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":1600,"y":2100,"wires":[["08fe3edd41824444"],["774a38446b8fb924"],["534026b3d362dd78"],["49f1b35221e9cc37"]]},{"id":"6d41a48666f3418b","type":"comment","z":"83653e1a.ab0f2","name":"Wasserbedarf für heute ermitteln","info":"","x":1430,"y":1940,"wires":[]},{"id":"ea5a5cb615a7519d","type":"comment","z":"83653e1a.ab0f2","name":"Tatsächliche Regenmenge letzten 24h abfragen","info":"","x":600,"y":1960,"wires":[]},{"id":"b089ada30cc09586","type":"change","z":"83653e1a.ab0f2","name":"Letzten 24h tats. Regen zw.-speichern","rules":[{"t":"set","p":"tagesregenmenge","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2100,"wires":[["db1f9f078f26efc3"]]},{"id":"201a409b936b728a","type":"inject","z":"83653e1a.ab0f2","name":"tägl. 23:58 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"58 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2100,"wires":[["16f46cd29cb75fc7"]]},{"id":"bd1a3dba19551b72","type":"api-current-state","z":"83653e1a.ab0f2","name":"Gef. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.daily_rain_rate_piezo","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":2100,"wires":[["965badb2ca57d9f5"]]},{"id":"965badb2ca57d9f5","type":"ha-wait-until","z":"83653e1a.ab0f2","name":"Warten bis Sonnenaufgang","server":"5a3777c7.b71588","version":2,"outputs":2,"entityId":"sun.sun","entityIdFilterType":"exact","property":"state","comparator":"is","value":"above_horizon","valueType":"str","timeout":"8","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":800,"y":2100,"wires":[["b089ada30cc09586"],[]]},{"id":"16f46cd29cb75fc7","type":"api-current-state","z":"83653e1a.ab0f2","name":"Automatik aktiv?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.aut_rasenbewasserung","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":2100,"wires":[["bd1a3dba19551b72"],[]]},{"id":"08fe3edd41824444","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2000,"wires":[["ce46adab4ac339f5"]]},{"id":"534026b3d362dd78","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2120,"wires":[["423bdf110395a2e4"]]},{"id":"774a38446b8fb924","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2060,"wires":[["ee60cd5a8bbde69e"]]},{"id":"49f1b35221e9cc37","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1880,"y":2180,"wires":[["9d30e42a7d9b5469"]]},{"id":"ce46adab4ac339f5","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -5","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-5+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-5+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2000,"wires":[["b2a0ed870e063f56"]]},{"id":"ee60cd5a8bbde69e","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -4","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-4+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-4+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2060,"wires":[["b2a0ed870e063f56"]]},{"id":"423bdf110395a2e4","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -3","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-3+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-3+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2120,"wires":[["b2a0ed870e063f56"]]},{"id":"9d30e42a7d9b5469","type":"api-call-service","z":"83653e1a.ab0f2","name":"Regenmenge -2","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload-2+tagesregenmenge\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload-2+tagesregenmenge","valueType":"jsonata"}],"queue":"none","x":2140,"y":2180,"wires":[["b2a0ed870e063f56"]]},{"id":"bb5cbef08fb4b32f","type":"comment","z":"83653e1a.ab0f2","name":"\"Restwassermenge\" kalulieren (-Tagesbedarf+gefallener Regen)","info":"","x":2270,"y":1940,"wires":[]},{"id":"b2a0ed870e063f56","type":"api-current-state","z":"83653e1a.ab0f2","name":"Erw. Niederschlag abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_forecast_precipitation","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"erwartet","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2700,"y":2080,"wires":[["030cacd0be3cb723"]]},{"id":"5014d0cbac54f443","type":"comment","z":"83653e1a.ab0f2","name":"Erw. Niederschlag temporär dazurechnen","info":"","x":2740,"y":1940,"wires":[]},{"id":"789e9526f1e20587","type":"change","z":"83653e1a.ab0f2","name":"Erw. Niederschlag addieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload+erwartet","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":2020,"wires":[["63906d97a3a833c3"]]},{"id":"63906d97a3a833c3","type":"switch","z":"83653e1a.ab0f2","name":"Erw. Restregenmenge < 0","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3630,"y":2080,"wires":[["39d8d2ac8b072f85"]]},{"id":"361b4eb19bb1e7f1","type":"comment","z":"83653e1a.ab0f2","name":"Muss es beregnet werden?","info":"","x":3630,"y":1940,"wires":[]},{"id":"030cacd0be3cb723","type":"api-current-state","z":"83653e1a.ab0f2","name":"Regenwahrscheinlichkeit über 70%?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_precipitation_probability","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3010,"y":2080,"wires":[["789e9526f1e20587"],["63906d97a3a833c3"]]},{"id":"dbb244629979a4fd","type":"api-call-service","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge um Beregnungsmenge erhöhen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": payload+15\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4800,"y":2160,"wires":[[]]},{"id":"cc49765cc1720fba","type":"api-call-service","z":"83653e1a.ab0f2","name":"Rasenbewässerung aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.rasen","switch.zisterne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4230,"y":2080,"wires":[["297459314b038581"]]},{"id":"39d8d2ac8b072f85","type":"api-call-service","z":"83653e1a.ab0f2","name":"Rasenbewässerung an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.rasen","switch.zisterne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3880,"y":2080,"wires":[["b65f2f8f4fb02d9e"]]},{"id":"6daca2bb4085b204","type":"comment","z":"83653e1a.ab0f2","name":"Beregnung für definierten Wert aus Dashboard laufen lassen","info":"","x":4080,"y":1940,"wires":[]},{"id":"9f75bf42ae3b1139","type":"inject","z":"83653e1a.ab0f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":4700,"y":2020,"wires":[[]]},{"id":"d10936fa9d661c5d","type":"api-call-service","z":"83653e1a.ab0f2","name":"Verbl. Regenmenge auf 15 setzen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.verbleibende_regenmenge"],"data":"{\t   \"value\": 15\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":4740,"y":2020,"wires":[[]]},{"id":"297459314b038581","type":"api-current-state","z":"83653e1a.ab0f2","name":"Verb. Regenmenge <0","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"input_number.verbleibende_regenmenge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":4480,"y":2080,"wires":[["d10936fa9d661c5d"],["dbb244629979a4fd"]]},{"id":"b65f2f8f4fb02d9e","type":"api-current-state","z":"83653e1a.ab0f2","name":"Dauer Bewässerung","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.aut_rasenbewasserung_dauer","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3880,"y":2200,"wires":[["1ef03b8463da99fc"]]},{"id":"ce163c23ed923f9e","type":"delay","z":"83653e1a.ab0f2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4320,"y":2200,"wires":[["cc49765cc1720fba"]]},{"id":"1ef03b8463da99fc","type":"change","z":"83653e1a.ab0f2","name":"Minuten in Millisekunden","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4110,"y":2200,"wires":[["ce163c23ed923f9e"]]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
