infovollewanne
[{"id":"5413ca28405d5281","type":"comment","z":"df77b7fe.2d2dc","name":"Info über Badewanne voll","info":"","x":150,"y":2120,"wires":[]},{"id":"f8246c8970b01c8e","type":"server-state-changed","z":"df77b7fe.2d2dc","name":"Badewanne voll","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.badewanne_wasser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":2180,"wires":[["a495ebc616573b10"],[]]},{"id":"b84cc705e779df2f","type":"api-call-service","z":"df77b7fe.2d2dc","name":"Msg an Sonja","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_sonja","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":2240,"wires":[[]]},{"id":"30c84ce7cf57c47d","type":"api-call-service","z":"df77b7fe.2d2dc","name":"Msg an Alex WZ","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_wz_echo_show","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":2180,"wires":[[]]},{"id":"a495ebc616573b10","type":"function","z":"df77b7fe.2d2dc","name":"Message erstellen","func":"msg.payload = {\"data\":{\"message\":\"Badewanne ist voll.\",\"title\":\"Wichtige Nachricht aus dem Bad!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"Badewanne\"}}}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2180,"wires":[["30c84ce7cf57c47d","b84cc705e779df2f"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
