komplexelichtszenarien
[{"id":"4128e3989b7759bf","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Bewegungssensor Bad","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bad_bewegung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1640,"wires":[["ea3e681b7c4e8d93"]]},{"id":"a378202cdcf5dd75","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Stripe 100% warmweiß an","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bad_stripe","data":"{\"brightness\":255,\"color_temp\":273,\"transition\":1,\"effect\":\"no\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":1600,"wires":[[]]},{"id":"cea92b4da51caabe","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Stripe aus","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bad_stripe","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":1700,"wires":[[]]},{"id":"20c6d81470e7c6e7","type":"api-current-state","z":"b81fc49fce7eb546","name":"Bad Lichtlevel <=30","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.bad_lichtlevel","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":860,"y":1580,"wires":[["73d752d318f23a6a"],[]]},{"id":"989e0973182528ee","type":"time-range-switch","z":"b81fc49fce7eb546","name":"Zw.Sonnenuntergang und 05:30","lat":"51.66529","lon":"7.1808","startTime":"sunsetStart","endTime":"05:30","startOffset":"-10","endOffset":0,"x":1390,"y":1520,"wires":[["46abcaf226667b48"],["a378202cdcf5dd75"]]},{"id":"50ee3917fa2e486c","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Stripe 50% warm an","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bad_stripe","data":"{\"brightness\":150,\"color_temp\":384,\"transition\":2,\"effect\":\"no\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2030,"y":1500,"wires":[[]]},{"id":"b0ce4081900c8224","type":"api-current-state","z":"b81fc49fce7eb546","name":"Bad Stripe an?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bad_stripe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1400,"y":1660,"wires":[["beb6aa7512f7abcb"],[]]},{"id":"7e6533033f75bdbe","type":"stoptimer","z":"b81fc49fce7eb546","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1190,"y":1700,"wires":[["b0ce4081900c8224"],[]]},{"id":"83e0f94f03331c51","type":"switch","z":"b81fc49fce7eb546","name":"Bewegung erkannt","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1640,"wires":[["20c6d81470e7c6e7","ba0b372416518f8d"],["e7c55851329f10ee"]]},{"id":"73d752d318f23a6a","type":"api-current-state","z":"b81fc49fce7eb546","name":"Bad Stripe aus?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bad_stripe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1100,"y":1520,"wires":[["989e0973182528ee"],[]]},{"id":"ba0b372416518f8d","type":"change","z":"b81fc49fce7eb546","name":"sende stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1680,"wires":[["e7c55851329f10ee"]]},{"id":"df7741262d35513a","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Bad Lampe an","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.bad_lampe","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1540,"wires":[["73d752d318f23a6a"],[]]},{"id":"f184f9c53b94e5fa","type":"comment","z":"b81fc49fce7eb546","name":"Steuerung des Bad Stripe","info":"","x":150,"y":1360,"wires":[]},{"id":"46abcaf226667b48","type":"time-range-switch","z":"b81fc49fce7eb546","name":"Zw.Sonnenuntergang und 23:00","lat":"51.66529","lon":"7.1808","startTime":"sunsetStart","endTime":"23:00","startOffset":"-10","endOffset":0,"x":1750,"y":1500,"wires":[["50ee3917fa2e486c"],["047ae7b0a959f109"]]},{"id":"047ae7b0a959f109","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Stripe 20% warm an","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bad_stripe","data":"{\"brightness\":50,\"color_temp\":384,\"transition\":2,\"effect\":\"no\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2030,"y":1548,"wires":[[]]},{"id":"ea3e681b7c4e8d93","type":"api-current-state","z":"b81fc49fce7eb546","name":"Badewanne nicht aktiv?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.badewannenmodus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":1640,"wires":[["83e0f94f03331c51"],[]]},{"id":"895c1f4a36d545c9","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Lampe aus","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bad_lampe","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2000,"y":1440,"wires":[[]]},{"id":"d45115315e957c15","type":"delay","z":"b81fc49fce7eb546","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":1440,"wires":[["23d268f421adcafa","73d752d318f23a6a"]]},{"id":"977e1dc9f542b6c2","type":"comment","z":"b81fc49fce7eb546","name":"Über Lichtschalter","info":"","x":150,"y":1500,"wires":[]},{"id":"7b46657826fb84cc","type":"comment","z":"b81fc49fce7eb546","name":"Über Bewegungsmelder","info":"","x":170,"y":1600,"wires":[]},{"id":"71572885e87b35dc","type":"comment","z":"b81fc49fce7eb546","name":"Über Morgenroutine","info":"","x":150,"y":1400,"wires":[]},{"id":"915e4f83c899f3c5","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Morgen Routine aktiviert?","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.guten_morgen_routine","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1440,"wires":[["d45115315e957c15"],[]]},{"id":"23d268f421adcafa","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Echo Show Lautstärke auf 10%","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.bad_echo_show","data":"{\"volume_level\":\"0.10\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":1400,"wires":[["cefa632e9632235f"]]},{"id":"48e605f3ec4611e4","type":"alexa-home","z":"b81fc49fce7eb546","conf":"4e4e1b69.d88d54","device":"121411","acknoledge":true,"name":"Badewanne","topic":"","x":1630,"y":1380,"wires":[["b4b0d5f2cc78a9f8"]]},{"id":"b4b0d5f2cc78a9f8","type":"switch","z":"b81fc49fce7eb546","name":"Nur ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1820,"y":1380,"wires":[["895c1f4a36d545c9","50ee3917fa2e486c","484c255f507c7e2b"],[]]},{"id":"e7c55851329f10ee","type":"time-range-switch","z":"b81fc49fce7eb546","name":"7-11","lat":"","lon":"","startTime":"07:00","endTime":"11:00","startOffset":0,"endOffset":0,"x":990,"y":1660,"wires":[["5c4bbff03bb0fd74","e26edb545037d236"],["7e6533033f75bdbe","e26edb545037d236"]]},{"id":"5c4bbff03bb0fd74","type":"stoptimer","z":"b81fc49fce7eb546","duration":"90","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1170,"y":1640,"wires":[["b0ce4081900c8224"],[]]},{"id":"e26edb545037d236","type":"stoptimer","z":"b81fc49fce7eb546","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1140,"y":1800,"wires":[["6a6ea3175b9039f4"],[]]},{"id":"6a6ea3175b9039f4","type":"api-current-state","z":"b81fc49fce7eb546","name":"Bad Lampe an?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bad_lampe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1360,"y":1800,"wires":[["0f1ce3ea26c4879d"],[]]},{"id":"f5a663429c7a94da","type":"api-call-service","z":"b81fc49fce7eb546","name":"Bad Lampe aus","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bad_lampe","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":1800,"wires":[[]]},{"id":"1eb824ec015701ba","type":"comment","z":"b81fc49fce7eb546","name":"Bad-Licht spätestens nach 30min ohne Bewegung aus","info":"","x":1260,"y":1760,"wires":[]},{"id":"beb6aa7512f7abcb","type":"api-current-state","z":"b81fc49fce7eb546","name":"Badewanne nicht aktiv?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.badewannenmodus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1630,"y":1700,"wires":[["cea92b4da51caabe"],[]]},{"id":"90ea91cf096b129f","type":"comment","z":"b81fc49fce7eb546","name":"Wenn schon Timer aktiv, und dann erst Badewannenmodus aktiviert wurde","info":"","x":1770,"y":1660,"wires":[]},{"id":"b5132dc950315dc3","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Badewannenmodus per Schalter","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.badewannenmodus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1570,"y":1340,"wires":[["b4b0d5f2cc78a9f8"]]},{"id":"484c255f507c7e2b","type":"api-current-state","z":"b81fc49fce7eb546","name":"Badewannenschalter aus?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.badewannenmodus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2040,"y":1380,"wires":[["5211be9917ed9854"],[]]},{"id":"0f1ce3ea26c4879d","type":"api-current-state","z":"b81fc49fce7eb546","name":"Badewanne nicht aktiv?","server":"5a3777c7.b71588","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.badewannenmodus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1610,"y":1800,"wires":[["f5a663429c7a94da"],[]]},{"id":"cefa632e9632235f","type":"api-call-service","z":"b81fc49fce7eb546","name":"HitRadio Vest auf Bad Echo Show spielen","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.bad_echo_show","data":"{\"media_content_type\":\"audio/mp3\",\"media_content_id\":\"http://radiovest.cast.addradio.de/radiovest/simulcast/high/stream.mp3\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1400,"wires":[[]]},{"id":"5211be9917ed9854","type":"api-call-service","z":"b81fc49fce7eb546","name":"Badewannenmodus aktivieren","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.badewannenmodus","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2350,"y":1380,"wires":[[]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"4e4e1b69.d88d54","type":"alexa-home-conf","username":"Beispieluser"}]
