manuellerschalter
[{"id":"7a37f341163baebb","type":"server-state-changed","z":"c237c548.12826","name":"Bewegung in Küche?","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fully_kiosk_bewegung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2080,"wires":[["0f80040e40bdcece"],[]]},{"id":"1957e20aa7387c84","type":"api-current-state","z":"c237c548.12826","name":"Schrank Lichtlevel unter 70","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.wz_schrankwand_lichtlevel","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":780,"y":2100,"wires":[["2bb51e3ef9e598b1","799d9990256118a2"],[]]},{"id":"799d9990256118a2","type":"stoptimer","z":"c237c548.12826","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1060,"y":2220,"wires":[["f3852fcb73443cc4"],[]]},{"id":"2f43b03238daa0ac","type":"comment","z":"c237c548.12826","name":"Licht in der Küche steuern, Automationen & manueller Schalter","info":"","x":270,"y":1900,"wires":[]},{"id":"4967184e8d6a94d1","type":"api-call-service","z":"c237c548.12826","name":"Küchenlampe ein","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kueche_lampe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":2100,"wires":[[]]},{"id":"85e52d32698c0659","type":"api-call-service","z":"c237c548.12826","name":"Küche aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.kueche_lampe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1990,"y":2220,"wires":[[]]},{"id":"2bb51e3ef9e598b1","type":"api-current-state","z":"c237c548.12826","name":"Küchenlampe aus?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.kueche_lampe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1070,"y":2100,"wires":[["2302cf265b7fd62a"],[]]},{"id":"40851b9cc84524cd","type":"api-current-state","z":"c237c548.12826","name":"Küchenlampe an?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.kueche_lampe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":750,"y":2180,"wires":[["799d9990256118a2"],[]]},{"id":"a1d3408ed721115f","type":"server-state-changed","z":"c237c548.12826","name":"Küchenlampe Schalter aktiv","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kuechenlampe_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1980,"wires":[["3df08247ab21fc5e"]]},{"id":"3df08247ab21fc5e","type":"function","z":"c237c548.12826","name":"","func":"var FunktionsVariable=flow.get('switch_interaction') || \"nichtdefiniert\"; // Initalisiere mit \"leer\", wenn Variable nicht existiert\nif (FunktionsVariable===\"nichtdefiniert\")// Test ob Variable vorhanden\n{\n  FunktionsVariable=\"manuell\";\n}\nelse if (FunktionsVariable===\"manuell\")// Test ob Inhalt \"Manuell\" ist\n{\n  FunktionsVariable=\"automatisch\";\n}\nelse if (FunktionsVariable===\"automatisch\")// Test ob Inhalt \"Automatisch\" ist\n{\n  FunktionsVariable=\"manuell\";\n}\nflow.set('switch_interaction',FunktionsVariable);\nmsg.payload=FunktionsVariable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1980,"wires":[[]]},{"id":"1652cf323eecf9e5","type":"function","z":"c237c548.12826","name":"","func":"var FunktionsVariable=flow.get('switch_interaction') || \"nichtdefiniert\";\nif (FunktionsVariable===\"nichtdefiniert\")//test exists\n{\n  FunktionsVariable=\"automatisch\";\n  flow.set('switch_interaction',FunktionsVariable);\n}\nmsg.payload = FunktionsVariable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":2160,"wires":[["f62b22810c237752"]]},{"id":"f62b22810c237752","type":"switch","z":"c237c548.12826","name":"Manuel vs. automatisch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"manuell","vt":"str"},{"t":"eq","v":"automatisch","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":2160,"wires":[[],["1957e20aa7387c84","40851b9cc84524cd"]]},{"id":"6b9e70dc81d74b0a","type":"function","z":"c237c548.12826","name":"","func":"var FunktionsVariable=flow.get('switch_interaction');\nmsg.payload = FunktionsVariable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2220,"wires":[["208697b9277cf027"]]},{"id":"208697b9277cf027","type":"switch","z":"c237c548.12826","name":"Automatisch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"automatisch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":2220,"wires":[["85e52d32698c0659"]]},{"id":"0f80040e40bdcece","type":"time-range-switch","z":"c237c548.12826","name":"","lat":"","lon":"","startTime":"06:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":350,"y":2080,"wires":[["1652cf323eecf9e5"],[]]},{"id":"f3852fcb73443cc4","type":"api-current-state","z":"c237c548.12826","name":"Bildschirm noch an?","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.fully_kiosk_browser_kuchen_tablet_screen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1260,"y":2220,"wires":[["92a5bbde3715e3db"]]},{"id":"92a5bbde3715e3db","type":"switch","z":"c237c548.12826","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":2160,"wires":[["799d9990256118a2"],["6b9e70dc81d74b0a"]]},{"id":"2302cf265b7fd62a","type":"api-current-state","z":"c237c548.12826","name":"WZ Licht an?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.esstisch_schrankwand","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":2100,"wires":[["4967184e8d6a94d1"],[]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
