NINAAutomation
[{"id":"c8d734d1d8b9aaf2","type":"comment","z":"f6c34b24a57c1673","name":"Lampen auf Rot bei Warnung","info":"","x":160,"y":480,"wires":[]},{"id":"aa3d52b01b142157","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Warnung vorhanden","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.warning_munster_stadt_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":560,"wires":[["09af1c33960282d0"],[]]},{"id":"09af1c33960282d0","type":"switch","z":"f6c34b24a57c1673","name":"Gefahr für Leib & Leben","property":"data.attributes.severity","propertyType":"msg","rules":[{"t":"eq","v":"Severe","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":560,"wires":[["37c8cd3d17f7b95e"]]},{"id":"37c8cd3d17f7b95e","type":"api-call-service","z":"f6c34b24a57c1673","name":"Lampe auf Rot","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wz_stripe"],"data":"{\t   \"rgb_color\":[255, 43, 0]\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":560,"wires":[[]]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
