nochsmartererollladensteuerung
[{"id":"7ef4a95e1a2ed49f","type":"bigtimer","z":"35de99a5f60b0429","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Werktags 06.45 / 22.00","comment":"","lat":0,"lon":0,"starttime":"405","endtime":"1320","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":890,"y":940,"wires":[["de26f7fd6145ece1"],[],[]]},{"id":"f40775c4fbb37bb7","type":"bigtimer","z":"35de99a5f60b0429","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Wochenende 08:30 / 22:30","comment":"","lat":0,"lon":0,"starttime":"510","endtime":"1350","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":900,"y":1100,"wires":[["de26f7fd6145ece1"],[],[]]},{"id":"35e49934155a5af1","type":"inject","z":"35de99a5f60b0429","name":"05.00 Uhr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":940,"wires":[["24fa24205775314e"]]},{"id":"24fa24205775314e","type":"api-current-state","z":"35de99a5f60b0429","name":"Werktags Hoch abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.rollos_hoch_werktags","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":940,"wires":[["4b99eebe2e3fe65f"]]},{"id":"4b99eebe2e3fe65f","type":"function","z":"35de99a5f60b0429","name":"","func":"oldStr = msg.payload\nvar newStr = oldStr.slice(0, oldStr.length-3);\nmsg.payload = \"on_override \" + newStr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":940,"wires":[["7ef4a95e1a2ed49f"]]},{"id":"67362446d17b7041","type":"server-state-changed","z":"35de99a5f60b0429","name":"Werktags Hoch ändert sich","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.rollos_hoch_werktags","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":390,"y":980,"wires":[["4b99eebe2e3fe65f"]]},{"id":"de26f7fd6145ece1","type":"switch","z":"35de99a5f60b0429","name":"isOnOrOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":1020,"wires":[["e836ee9321d7bbb5","e6a40d0dfac66de5"],["82f3e237a83ceafc"]]},{"id":"baee45751eafd2b4","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Küche rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"open_cover","entityId":["cover.rollo_kueche"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":840,"wires":[[]]},{"id":"559c62c1dfe53d2e","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Küche runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"close_cover","entityId":["cover.rollo_kueche"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2090,"y":1100,"wires":[[]]},{"id":"cf49009072d8f671","type":"function","z":"35de99a5f60b0429","name":"","func":"oldStr = msg.payload\nvar newStr = oldStr.slice(0, oldStr.length-3);\nmsg.payload = \"on_override \" + newStr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1100,"wires":[["f40775c4fbb37bb7"]]},{"id":"dcf83b79d5060624","type":"api-current-state","z":"35de99a5f60b0429","name":"Wochenende Hoch abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.rollos_hoch_wochenende","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1080,"wires":[["cf49009072d8f671"]]},{"id":"a3d5b49852f3103f","type":"server-state-changed","z":"35de99a5f60b0429","name":"Wochenende Hoch ändert sich","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.rollos_hoch_wochenende","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":390,"y":1120,"wires":[["cf49009072d8f671"]]},{"id":"637903b9ce22a70a","type":"inject","z":"35de99a5f60b0429","name":"05:00 Uhr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1080,"wires":[["dcf83b79d5060624"]]},{"id":"eb112923cf83c221","type":"suncron","z":"35de99a5f60b0429","name":"Dämmerung","lat":"52.49592009090908","lon":"10.534127818181815","replay":false,"ejectScheduleOnUpdate":false,"sunrisePayload":"","sunrisePayloadType":"str","sunriseTopic":"","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"","sunriseEndPayloadType":"str","sunriseEndTopic":"","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"","goldenHourEndPayloadType":"str","goldenHourEndTopic":"","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"","solarNoonPayloadType":"str","solarNoonTopic":"","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"","goldenHourPayloadType":"str","goldenHourTopic":"","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"","sunsetStartPayloadType":"str","sunsetStartTopic":"","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"","sunsetPayloadType":"str","sunsetTopic":"","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"off","duskPayloadType":"str","duskTopic":"","duskOffsetType":"-1","duskOffsetHours":0,"duskOffsetMinutes":"20","duskOffset":"1200","nauticalDuskPayload":"","nauticalDuskPayloadType":"str","nauticalDuskTopic":"","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"","nightPayloadType":"str","nightTopic":"","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"","nadirPayloadType":"str","nadirTopic":"","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"","nightEndPayloadType":"str","nightEndTopic":"","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"","nauticalDawnPayloadType":"str","nauticalDawnTopic":"","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"","dawnPayloadType":"str","dawnTopic":"","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":690,"y":1020,"wires":[["de26f7fd6145ece1"]]},{"id":"82d7ce38de8bae02","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Esszimmer rauf","server":"5a3777c7.b71588","version":5,"debugenabled":true,"service":"open_cover","entityId":["cover.rollo_esszimmer"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":800,"wires":[[]]},{"id":"517c4210bd5b2269","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Nord rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"open_cover","entityId":["cover.rollo_nord"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":760,"wires":[[]]},{"id":"2845836047e4c8f6","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Esszimmer runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"close_cover","entityId":["cover.rollo_esszimmer"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":1180,"wires":[[]]},{"id":"93c7d5ea92d795ef","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Nord runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"close_cover","entityId":["cover.rollo_nord"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2090,"y":1220,"wires":[[]]},{"id":"e6a40d0dfac66de5","type":"delay","z":"35de99a5f60b0429","name":"Delay","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":800,"wires":[["82d7ce38de8bae02","517c4210bd5b2269"]]},{"id":"4ae4cc1136cd7e6d","type":"delay","z":"35de99a5f60b0429","name":"Delay","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1870,"y":1180,"wires":[["2845836047e4c8f6","93c7d5ea92d795ef"]]},{"id":"e836ee9321d7bbb5","type":"delay","z":"35de99a5f60b0429","name":"Delay","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":860,"wires":[["baee45751eafd2b4","6a1470c43c59c273"]]},{"id":"394a471ea0b09adb","type":"delay","z":"35de99a5f60b0429","name":"Delay","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1870,"y":1120,"wires":[["559c62c1dfe53d2e","039730b998f942c5"]]},{"id":"47e00ec6044289e3","type":"comment","z":"35de99a5f60b0429","name":"Rolladensteuerung mit Dämmerung und möglicher Übersteuerung","info":"","x":290,"y":860,"wires":[]},{"id":"6a1470c43c59c273","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Wohnzimmer Loggia","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"open_cover","entityId":["cover.rollo_wohnzimmerloggia"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":880,"wires":[[]]},{"id":"039730b998f942c5","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo Wohnzimmer Loggia","server":"5a3777c7b71588","version":5,"debugenabled":false,"service":"close_cover","entityId":["cover.rollo_wohnzimmerloggia"],"data":"","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2120,"y":1140,"wires":[[]]},{"id":"95cb8f3bfcad57ed","type":"server-state-changed","z":"35de99a5f60b0429","name":"Azimuth ist 270°","server":"04da25fcfa53adc6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"270","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":780,"wires":[["b44911e3a6478808"],[]]},{"id":"b44911e3a6478808","type":"api-current-state","z":"35de99a5f60b0429","name":"Erwartete Temperatur > 25°","server":"04da25fcfa53adc6","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":780,"wires":[["27be4ecd66bfb179"],[]]},{"id":"8c35e8a78bded930","type":"server-state-changed","z":"35de99a5f60b0429","name":"Azimuth ist 165°","server":"04da25fcfa53adc6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"165","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1280,"wires":[["4c64cc7f535a7243"],[]]},{"id":"4c64cc7f535a7243","type":"api-current-state","z":"35de99a5f60b0429","name":"Erwartete Temperatur > 25","server":"04da25fcfa53adc6","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1280,"wires":[["8be3c3b12dda9901","07113c2a2da8e20e"],[]]},{"id":"8be3c3b12dda9901","type":"api-current-state","z":"35de99a5f60b0429","name":"Wird es sonnig?","server":"04da25fcfa53adc6","version":3,"outputs":2,"halt_if":"sunny","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":1260,"wires":[["a3e44a5c78261e56"],[]]},{"id":"07113c2a2da8e20e","type":"api-current-state","z":"35de99a5f60b0429","name":"Wird es teilweise bedeckt?","server":"04da25fcfa53adc6","version":3,"outputs":2,"halt_if":"partlycloudy","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1300,"wires":[["a3e44a5c78261e56"],[]]},{"id":"7b2c21cbb54b3707","type":"api-current-state","z":"35de99a5f60b0429","name":"Verschattung aktiv","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.verschattung_an","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1630,"y":1020,"wires":[["ec3e7b35991f2724"],["394a471ea0b09adb","4ae4cc1136cd7e6d"]]},{"id":"ec3e7b35991f2724","type":"api-current-state","z":"35de99a5f60b0429","name":"Öffnungsgrad","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.offnungsgrad_fenster","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1900,"y":1020,"wires":[["3973b507f6e52a39"]]},{"id":"3973b507f6e52a39","type":"api-call-service","z":"35de99a5f60b0429","name":"Rollo WZ Loggia teilw. runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"service":"set_cover_position","entityId":["cover.rollo_wohnzimmerloggia"],"data":"{\t\t \"position\": msg.payload\t \t}","dataType":"jsonata","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2120,"y":1020,"wires":[[]]},{"id":"988d631dd7da1fc0","type":"comment","z":"35de99a5f60b0429","name":"Rolladensteuerung Verschattung Südseite","info":"","x":200,"y":1180,"wires":[]},{"id":"233c0793a79131aa","type":"change","z":"35de99a5f60b0429","name":"Context Verschattung","rules":[{"t":"set","p":"context","pt":"msg","to":"Verschattung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1220,"wires":[["de26f7fd6145ece1"]]},{"id":"82f3e237a83ceafc","type":"switch","z":"35de99a5f60b0429","name":"Context Verschattung","property":"context","propertyType":"msg","rules":[{"t":"eq","v":"Verschattung","vt":"str"},{"t":"neq","v":"Verschattung","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1380,"y":1020,"wires":[["7b2c21cbb54b3707"],["394a471ea0b09adb","4ae4cc1136cd7e6d"]]},{"id":"15b5cdbb4e0954aa","type":"comment","z":"35de99a5f60b0429","name":"V2 - Verschattung","info":"","x":150,"y":680,"wires":[]},{"id":"a3e44a5c78261e56","type":"change","z":"35de99a5f60b0429","name":"Set off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1220,"wires":[["233c0793a79131aa"]]},{"id":"27be4ecd66bfb179","type":"change","z":"35de99a5f60b0429","name":"Set on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":780,"wires":[["de26f7fd6145ece1"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"04da25fcfa53adc6","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
