nochsmartererollladensteuerung
[{"id":"31b4f752d05ba4fb","type":"api-call-service","z":"b81fc49fce7eb546","name":"WZ Rollo Links teilweise runter","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.wz_rollo_links","data":"{\t   \"position\": msg.payload \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1990,"y":1200,"wires":[[]]},{"id":"a6bbb3fe76cda3e5","type":"api-current-state","z":"b81fc49fce7eb546","name":"Verschattung aktiv","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.verschattung_aktiv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":1200,"wires":[["235bca5c0960425f"],["ebf64595d4a6d6f6"]]},{"id":"d052103143474358","type":"switch","z":"b81fc49fce7eb546","name":"IsOnOrOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":1200,"wires":[["81ed542adf8123cd"],["a6bbb3fe76cda3e5"]]},{"id":"3fe0b87b459ddf9f","type":"bigtimer","z":"b81fc49fce7eb546","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Werktags - 07:00 / 22:15","comment":"","lat":0,"lon":0,"starttime":"420","endtime":"1335","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":830,"y":1180,"wires":[["d052103143474358"],[],[]]},{"id":"e47f59429cc3ccdd","type":"inject","z":"b81fc49fce7eb546","name":"05:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["f90f64d31f72167f"]]},{"id":"c24fd0f5580627e1","type":"function","z":"b81fc49fce7eb546","name":"","func":"oldStr = msg.payload\nvar newStr = oldStr.slice(0, oldStr.length-3);\nmsg.payload = \"on_override \" + newStr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1180,"wires":[["3fe0b87b459ddf9f"]]},{"id":"d2aeb175e898d41c","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Werktags Hoch ändert sich","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.rollos_hoch_werktags","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":350,"y":1240,"wires":[["c24fd0f5580627e1"]]},{"id":"f90f64d31f72167f","type":"api-current-state","z":"b81fc49fce7eb546","name":"Werktags Hoch abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.rollos_hoch_werktags","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":1180,"wires":[["c24fd0f5580627e1"]]},{"id":"ea9180a5fb2a1e0a","type":"bigtimer","z":"b81fc49fce7eb546","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Wocheende - 09:00 / 22:15","comment":"","lat":0,"lon":0,"starttime":"540","endtime":"1335","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":840,"y":1320,"wires":[["d052103143474358"],[],[]]},{"id":"3e5ae31d347f304f","type":"inject","z":"b81fc49fce7eb546","name":"05:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1320,"wires":[["9c405597c2570806"]]},{"id":"a1bc57de79f6bd8b","type":"function","z":"b81fc49fce7eb546","name":"","func":"oldStr = msg.payload\nvar newStr = oldStr.slice(0, oldStr.length-3);\nmsg.payload = \"on_override \" + newStr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1320,"wires":[["ea9180a5fb2a1e0a"]]},{"id":"7578c40f61524c3f","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Wochenende Hoch ändert sich","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.rollos_hoch_wochenende","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":1380,"wires":[["a1bc57de79f6bd8b"]]},{"id":"9c405597c2570806","type":"api-current-state","z":"b81fc49fce7eb546","name":"Wochenende Hoch abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.rollos_hoch_wochenende","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":1320,"wires":[["a1bc57de79f6bd8b"]]},{"id":"633c19f9d597ce24","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Azimuth ist 90 Grad","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"90","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1460,"wires":[["c127baead493757c"],[]]},{"id":"ada1a4c43be94fdc","type":"api-current-state","z":"b81fc49fce7eb546","name":"Wird es Sonnig?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"sunny","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1460,"wires":[["b615b21607fa35ab"],[]]},{"id":"c127baead493757c","type":"api-current-state","z":"b81fc49fce7eb546","name":"Erw. Temperatur über 25","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":1460,"wires":[["ada1a4c43be94fdc","1fb0113b55a2d822"],[]]},{"id":"1fb0113b55a2d822","type":"api-current-state","z":"b81fc49fce7eb546","name":"Wird es teilweise bedeckt?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"partlycloudy","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":720,"y":1520,"wires":[["b615b21607fa35ab"],[]]},{"id":"b615b21607fa35ab","type":"change","z":"b81fc49fce7eb546","name":"set OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1460,"wires":[["d052103143474358"]]},{"id":"ebf64595d4a6d6f6","type":"api-call-service","z":"b81fc49fce7eb546","name":"WZ Rollo Link ganz runter","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.wz_rollo_links","data":"{\t  \"position\": 100\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":1280,"wires":[[]]},{"id":"235bca5c0960425f","type":"api-current-state","z":"b81fc49fce7eb546","name":"Soll-Öffnungsgrad Fenster abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.offnungsgrad_fenster","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1660,"y":1200,"wires":[["31b4f752d05ba4fb"]]},{"id":"4f00edc2b8045c3a","type":"server-state-changed","z":"b81fc49fce7eb546","name":"Azimuth ist 240 Grad","server":"5a3777c7.b71588","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"240","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":440,"y":1060,"wires":[["2522a88858f2ea2a"],[]]},{"id":"2522a88858f2ea2a","type":"api-current-state","z":"b81fc49fce7eb546","name":"Erw. Temperatur über 25","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":690,"y":1060,"wires":[["61b9cf64d09086c3"],[]]},{"id":"61b9cf64d09086c3","type":"change","z":"b81fc49fce7eb546","name":"set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1060,"wires":[["d052103143474358"]]},{"id":"81ed542adf8123cd","type":"api-call-service","z":"b81fc49fce7eb546","name":"Rollo WZ links rauf","server":"5a3777c7.b71588","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.wz_rollo_links","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":1140,"wires":[[]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
