Node-RED-adcanced
[{"id":"6fa85cca77ad0606","type":"comment","z":"35de99a5f60b0429","name":"Advanced Node-RED","info":"","x":200,"y":3400,"wires":[]},{"id":"c085e979b8206670","type":"suncron","z":"35de99a5f60b0429","name":"Abend- bis Morgendämmerung","lat":"51.665485","lon":"7.180876","replay":false,"ejectScheduleOnUpdate":false,"sunrisePayload":"","sunrisePayloadType":"str","sunriseTopic":"","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"","sunriseEndPayloadType":"str","sunriseEndTopic":"","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"","goldenHourEndPayloadType":"str","goldenHourEndTopic":"","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"","solarNoonPayloadType":"str","solarNoonTopic":"","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"","goldenHourPayloadType":"str","goldenHourTopic":"","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"","sunsetStartPayloadType":"str","sunsetStartTopic":"","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"","sunsetPayloadType":"str","sunsetTopic":"","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"start","duskPayloadType":"str","duskTopic":"","duskOffsetType":"-1","duskOffsetHours":0,"duskOffsetMinutes":"30","duskOffset":"1800","nauticalDuskPayload":"","nauticalDuskPayloadType":"str","nauticalDuskTopic":"","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"","nightPayloadType":"str","nightTopic":"","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"","nadirPayloadType":"str","nadirTopic":"","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"","nightEndPayloadType":"str","nightEndTopic":"","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"","nauticalDawnPayloadType":"str","nauticalDawnTopic":"","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"ende","dawnPayloadType":"str","dawnTopic":"","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":170,"y":3460,"wires":[["e08576516ddae531"]]},{"id":"e08576516ddae531","type":"switch","z":"35de99a5f60b0429","name":"Start / ende","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"ende","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":3500,"wires":[["63139eb38dc4e486"],["4254fe950502410e"]]},{"id":"97482674d80a93e1","type":"api-call-service","z":"35de99a5f60b0429","name":"Badlampe in Blau an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bad_stripe"],"data":"{\t   \"hs_color\":[248.108, 87.059]\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":3460,"wires":[[]]},{"id":"b1aa862c86d3f53f","type":"api-call-service","z":"35de99a5f60b0429","name":"Bad Lampe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bad_lampe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":3500,"wires":[[]]},{"id":"63139eb38dc4e486","type":"ha-wait-until","z":"35de99a5f60b0429","name":"Tristan zu Hause","server":"5a3777c7.b71588","version":2,"outputs":2,"entityId":"person.senbei","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":590,"y":3460,"wires":[["b6296f1ebb43d9b7"],["086f1aac6dc816a9"]]},{"id":"086f1aac6dc816a9","type":"api-call-service","z":"35de99a5f60b0429","name":"Msg an Tristans Handy","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Dann bleibt die Lampe halt aus!\",\t   \"title\":\"Lampenstatus\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":3540,"wires":[[]]},{"id":"4254fe950502410e","type":"api-call-service","z":"35de99a5f60b0429","name":"Beide Lampen aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bad_lampe","light.bad_stripe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":3560,"wires":[[]]},{"id":"d787cf3524367c7e","type":"bigtimer","z":"35de99a5f60b0429","d":true,"outtopic":"","outpayload1":"start","outpayload2":"ende","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"31","xmonth1":"12","xday2":"24","xmonth2":"12","xday3":"25","xmonth3":"12","xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"2","xw1":"2","xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":100,"y":3540,"wires":[["e08576516ddae531"],[],[]]},{"id":"b6296f1ebb43d9b7","type":"junction","z":"35de99a5f60b0429","x":740,"y":3460,"wires":[["97482674d80a93e1","b1aa862c86d3f53f"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
