nur1malausführen
[{"id":"3bf3030eb26acb81","type":"inject","z":"f6c34b24a57c1673","name":"Demo-Push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":360,"wires":[["35cdd3850c4a607a"]]},{"id":"a86bb62c4466132e","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Bewegung in Büro","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.buero_bewegung","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":200,"wires":[["afb45be46974964f"],[]]},{"id":"afb45be46974964f","type":"counter","z":"f6c34b24a57c1673","name":"Hochzählen","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":430,"y":200,"wires":[["6fcb456b21673424"]]},{"id":"6fcb456b21673424","type":"switch","z":"f6c34b24a57c1673","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":200,"wires":[["1675db2f9e58b1ad"],["81cac31f023b6379"]]},{"id":"1675db2f9e58b1ad","type":"change","z":"f6c34b24a57c1673","name":"1te Mal","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ist erstes Mal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["a3b791086a5beb2e"]]},{"id":"81cac31f023b6379","type":"change","z":"f6c34b24a57c1673","name":"Anderes Mal","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ist wiederholtes Mal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":240,"wires":[["a3b791086a5beb2e"]]},{"id":"a3b791086a5beb2e","type":"debug","z":"f6c34b24a57c1673","name":"Demo-Ausgabe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":200,"wires":[]},{"id":"66c94196f4736d50","type":"comment","z":"f6c34b24a57c1673","name":"Automation nur 1x am Tag ausführen","info":"","x":240,"y":80,"wires":[]},{"id":"c71f83d35673a92d","type":"inject","z":"f6c34b24a57c1673","name":"Demo-Push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["afb45be46974964f"]]},{"id":"f2e5789cad770aea","type":"inject","z":"f6c34b24a57c1673","name":"Morgens 00:10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["35cdd3850c4a607a"]]},{"id":"35cdd3850c4a607a","type":"change","z":"f6c34b24a57c1673","name":"Zähler zurücksetzen","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["afb45be46974964f"]]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
