poolautomation
[{"id":"d24a5394ce792d8f","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar über 70W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"70","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":260,"wires":[["3be4f0f2520c7224"],[]]},{"id":"e0abe1f47903b459","type":"comment","z":"f6c34b24a57c1673","name":"Bei Solarstrom Pumpen an bzw- aus","info":"","x":340,"y":200,"wires":[]},{"id":"f3d29df8c1928f49","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar unter 5W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":340,"wires":[["7362081b7b52400c"],[]]},{"id":"3be4f0f2520c7224","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":260,"wires":[[]]},{"id":"7362081b7b52400c","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":340,"wires":[[]]},{"id":"9a6c85f658379e1b","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar über 70W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"70","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":760,"wires":[["4e69da7bcc502311"],[]]},{"id":"a67f6172d969ad86","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":760,"wires":[["67eff494ced12f15"]]},{"id":"64dbab842a266233","type":"comment","z":"f6c34b24a57c1673","name":"Bei Solarstrom Pumpen an bzw- aus","info":"","x":340,"y":700,"wires":[]},{"id":"308c42496e6184b4","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar unter 5W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":920,"wires":[["1008d97e67bfaf79"],[]]},{"id":"e070d38408251792","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":900,"wires":[[]]},{"id":"46b4ec769afc5630","type":"function","z":"f6c34b24a57c1673","name":"Pool Pumpe erstmalig aktiv setzen","func":"var speicher = flow.get('pool_pumpe_aktiv') || \"Nein\";\nif (speicher===\"Nein\")\n{\n    flow.set('pool_pumpe_aktiv',\"Ja\");\n    msg.payload=\"Ja\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":760,"wires":[["a67f6172d969ad86"]]},{"id":"1008d97e67bfaf79","type":"function","z":"f6c34b24a57c1673","name":"Pool Pumpe deaktiv setzen","func":"var speicher = flow.get('pool_pumpe_aktiv') || \"Nein\";\nif (speicher===\"Ja\")\n{\n    flow.set('pool_pumpe_aktiv',\"Nein\");\n    msg.payload=\"Nein\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":900,"wires":[["e070d38408251792"]]},{"id":"9846a7dd059f49af","type":"comment","z":"f6c34b24a57c1673","name":"Pumpe 15min an - 30min warten","info":"","x":1170,"y":640,"wires":[]},{"id":"67eff494ced12f15","type":"delay","z":"f6c34b24a57c1673","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390,"y":760,"wires":[["76332920df581f95"]]},{"id":"76332920df581f95","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1640,"y":760,"wires":[["9ccabad69da3f6de"]]},{"id":"9ccabad69da3f6de","type":"delay","z":"f6c34b24a57c1673","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1270,"y":680,"wires":[["5c82b6f9d57a7bd2"]]},{"id":"5c82b6f9d57a7bd2","type":"api-current-state","z":"f6c34b24a57c1673","name":"Noch über 70W?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.garten_solarpanel_w","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1530,"y":680,"wires":[["a67f6172d969ad86"],[]]},{"id":"4e69da7bcc502311","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":760,"wires":[["46b4ec769afc5630"]]},{"id":"f191f38648ca490b","type":"comment","z":"f6c34b24a57c1673","name":"V1","info":"","x":190,"y":120,"wires":[]},{"id":"dd996db84eb9da2e","type":"comment","z":"f6c34b24a57c1673","name":"V2","info":"","x":190,"y":640,"wires":[]},{"id":"1b6aaec39b8474c4","type":"comment","z":"f6c34b24a57c1673","name":"V3","info":"","x":190,"y":1200,"wires":[]},{"id":"b892cfa6c6785d15","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar über 70W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"70","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1340,"wires":[["dcbc84dcdbfbdaeb"],[]]},{"id":"f0ee7eb633f7169f","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1340,"wires":[["04d47f0dbf554945"]]},{"id":"e99bb2a650c4867e","type":"comment","z":"f6c34b24a57c1673","name":"Bei Solarstrom Pumpen an bzw- aus","info":"","x":340,"y":1280,"wires":[]},{"id":"b6a951b0653fd6ba","type":"server-state-changed","z":"f6c34b24a57c1673","name":"Solar unter 5W","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.garten_solarpanel_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1480,"wires":[["74cb4c7faab22352"],[]]},{"id":"03dfc6193b44601f","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1480,"wires":[[]]},{"id":"3fdb6034e088dc61","type":"function","z":"f6c34b24a57c1673","name":"Pool Pumpe erstmalig aktiv setzen","func":"var speicher = flow.get('pool_pumpe_aktiv') || \"Nein\";\nif (speicher===\"Nein\")\n{\n    flow.set('pool_pumpe_aktiv',\"Ja\");\n    msg.payload=\"Ja\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1340,"wires":[["f0ee7eb633f7169f"]]},{"id":"74cb4c7faab22352","type":"function","z":"f6c34b24a57c1673","name":"Pool Pumpe deaktiv setzen","func":"var speicher = flow.get('pool_pumpe_aktiv') || \"Nein\";\nif (speicher===\"Ja\")\n{\n    flow.set('pool_pumpe_aktiv',\"Nein\");\n    msg.payload=\"Nein\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1480,"wires":[["03dfc6193b44601f"]]},{"id":"aa19e014c725ee8e","type":"comment","z":"f6c34b24a57c1673","name":"Pumpe so lange an, wie warm - 30min warten","info":"","x":1270,"y":1180,"wires":[]},{"id":"5df7299a2f0f0603","type":"delay","z":"f6c34b24a57c1673","name":"","pauseType":"delay","timeout":"80","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2170,"y":1420,"wires":[["04d47f0dbf554945"]]},{"id":"cdfd4e017d49e8e5","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe aus","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2380,"y":1340,"wires":[["53ca93fe6c73ecf8"]]},{"id":"53ca93fe6c73ecf8","type":"delay","z":"f6c34b24a57c1673","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1610,"y":1200,"wires":[["079323e564c67ffd"]]},{"id":"079323e564c67ffd","type":"api-current-state","z":"f6c34b24a57c1673","name":"Noch über 70W?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.garten_solarpanel_w","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1870,"y":1200,"wires":[["f0ee7eb633f7169f"],[]]},{"id":"dcbc84dcdbfbdaeb","type":"api-call-service","z":"f6c34b24a57c1673","name":"Pool Pumpe an","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_pumpe"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":1340,"wires":[["3fdb6034e088dc61"]]},{"id":"04d47f0dbf554945","type":"api-current-state","z":"f6c34b24a57c1673","name":"Pool Temperatur Eingang","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pool_temperatur","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":1340,"wires":[["7a05970818fa31f5"]]},{"id":"7a05970818fa31f5","type":"change","z":"f6c34b24a57c1673","name":"Temperatur +1","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload+1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1340,"wires":[["9fef410e8a4f66ca"]]},{"id":"9fef410e8a4f66ca","type":"api-current-state","z":"f6c34b24a57c1673","name":"Ausgehend > Eingehend","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"gt","entity_id":"sensor.pool_temperatur_ausgehend","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1890,"y":1340,"wires":[["5df7299a2f0f0603"],["cdfd4e017d49e8e5"]]},{"id":"5a3777c7.b71588","type":"server","name":"HA Instanz","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
