smarterererverschattung
[{"id":"0170c33dc1701534","type":"comment","z":"35de99a5f60b0429","name":"V3 - Verschattung Küchen-Seite aktivieren","info":"","x":240,"y":80,"wires":[]},{"id":"fe6af9277ac8f3e1","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche Rollo runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":180,"wires":[["ea5665f1edcc8c59"]]},{"id":"6c97fa860ca6c4fa","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche WZ Rollo runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.wz_kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":240,"wires":[["79629e9ccdd1358e"]]},{"id":"ea5665f1edcc8c59","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1460,"y":180,"wires":[["abab400dd8fab9fb"]]},{"id":"79629e9ccdd1358e","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1460,"y":240,"wires":[["8f6f0d1b121c16fe"]]},{"id":"abab400dd8fab9fb","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche Rollo stop","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":180,"wires":[[]]},{"id":"8f6f0d1b121c16fe","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche WZ Rollo stop","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.wz_kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":240,"wires":[[]]},{"id":"cf3c7cd1d2d50e4b","type":"api-call-service","z":"35de99a5f60b0429","name":"Bad Rollo runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.bad_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":300,"wires":[["192e812acbcc3574"]]},{"id":"152c8de086776b97","type":"api-call-service","z":"35de99a5f60b0429","name":"Kinderzimmer Rollo runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.kinderzimmer_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":360,"wires":[["6dc2b8267664c2aa"]]},{"id":"192e812acbcc3574","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1460,"y":300,"wires":[["324776566d3c64f5"]]},{"id":"6dc2b8267664c2aa","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1460,"y":360,"wires":[["25373f143d29615d"]]},{"id":"324776566d3c64f5","type":"api-call-service","z":"35de99a5f60b0429","name":"Bad Rollo stop","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.bad_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1680,"y":300,"wires":[[]]},{"id":"25373f143d29615d","type":"api-call-service","z":"35de99a5f60b0429","name":"Kinderzimmer Rollo stop","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.kinderzimmer_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":360,"wires":[[]]},{"id":"fc7a8f47f7c4ea2a","type":"server-state-changed","z":"35de99a5f60b0429","name":"Azimuth > 240 Grad","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sun_azimuth","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"240","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":480,"wires":[["6fa1a6adef88e8b0"],[]]},{"id":"3447d347d824fa92","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche Rollo rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":460,"wires":[[]]},{"id":"da95deafa312a99a","type":"api-call-service","z":"35de99a5f60b0429","name":"Küche WZ Rollo rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.wz_kueche_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":520,"wires":[[]]},{"id":"e7c6fe3baad003c5","type":"api-call-service","z":"35de99a5f60b0429","name":"Bad Rollo rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.bad_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":580,"wires":[[]]},{"id":"81888efb88ed4e7e","type":"api-call-service","z":"35de99a5f60b0429","name":"Kinderzimmer Rollo rauf","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.kinderzimmer_rollo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":640,"wires":[[]]},{"id":"694dc3373b445ca0","type":"function","z":"35de99a5f60b0429","name":"Verschattung aktiv setzen","func":"var speicher = flow.get('verschattung_aktiv') || \"Nein\";\nif (speicher===\"Nein\")\n{\n    flow.set('verschattung_aktiv',\"Ja\");\n    msg.payload=\"Ja\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":300,"wires":[["fe6af9277ac8f3e1","6c97fa860ca6c4fa","cf3c7cd1d2d50e4b","152c8de086776b97","8b5e46bd82f406af"]]},{"id":"c87534c97ebe8cce","type":"trigger-state","z":"35de99a5f60b0429","name":"Azimuth zw. 89-91","server":"5a3777c7.b71588","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.sun_azimuth","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"89"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"91"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":170,"y":360,"wires":[["2a48c51d56d63365"],[]]},{"id":"2a48c51d56d63365","type":"api-current-state","z":"35de99a5f60b0429","name":"Erw. Temperatur über 22","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"22","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":360,"wires":[["347a5d5e61ade761","3e9240ae483a1202"],[]]},{"id":"347a5d5e61ade761","type":"api-current-state","z":"35de99a5f60b0429","name":"Wird es Sonnig?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"sunny","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":300,"wires":[["694dc3373b445ca0"],[]]},{"id":"3e9240ae483a1202","type":"api-current-state","z":"35de99a5f60b0429","name":"Wird es teilweise bedeckt?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"partlycloudy","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermap_condition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":360,"wires":[["694dc3373b445ca0"],[]]},{"id":"6fa1a6adef88e8b0","type":"function","z":"35de99a5f60b0429","name":"Verschattung deaktiv setzen","func":"var speicher = flow.get('verschattung_aktiv') || \"Nein\";\nif (speicher===\"Ja\")\n{\n    flow.set('verschattung_aktiv',\"Nein\");\n    msg.payload=\"Nein\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["3447d347d824fa92","da95deafa312a99a","e7c6fe3baad003c5","81888efb88ed4e7e"]]},{"id":"ac3b8d567fb6b74d","type":"api-current-state","z":"35de99a5f60b0429","name":"Erw. Temperatur über 22","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"22","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.openweathermap_forecast_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":220,"wires":[["adf9e23a60987020"],[]]},{"id":"56d352cde20b23ff","type":"server-state-changed","z":"35de99a5f60b0429","name":"Sonnig?","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.openweathermap_condition","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"sunny","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":220,"wires":[["ac3b8d567fb6b74d"],[]]},{"id":"ec4a66a71a8edc0f","type":"server-state-changed","z":"35de99a5f60b0429","name":"Teilweise bedeckt?","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.openweathermap_condition","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"partlycloudy","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":280,"wires":[["ac3b8d567fb6b74d"],[]]},{"id":"adf9e23a60987020","type":"trigger-state","z":"35de99a5f60b0429","name":"Azimuth zw. 89-220","server":"5a3777c7.b71588","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.sun_azimuth","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"89"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"220"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":true,"x":690,"y":220,"wires":[["694dc3373b445ca0"],[]]},{"id":"b2e12c5feb47c6ce","type":"api-call-service","z":"35de99a5f60b0429","name":"WZ Rollo Links teilweise runter","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_position","areaId":[],"deviceId":[],"entityId":["cover.wz_rollo_links"],"data":"{\t   \"position\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1590,"y":100,"wires":[[]]},{"id":"8b5e46bd82f406af","type":"api-current-state","z":"35de99a5f60b0429","name":"Soll-Öffnungsgrad Fenster abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.offnungsgrad_fenster","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1260,"y":100,"wires":[["b2e12c5feb47c6ce"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
