smarterabfallkalender
[{"id":"5b30f740.409ce8","type":"comment","z":"60307493.14178c","name":"Licht- & Tonerinnerung für Tonnen","info":"","x":170,"y":40,"wires":[]},{"id":"46bc0e71.0ac1d","type":"api-call-service","z":"60307493.14178c","name":"Esstisch 2 & 4 grün","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.esstisch_2","light.esstisch_4"],"data":"{\"brightness\":255,\"hs_color\":[135.529,100]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":100,"wires":[[]]},{"id":"b82e5b9b.8239d8","type":"api-call-service","z":"60307493.14178c","name":"Esstisch 1+3 gelb","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.esstisch_3","light.esstisch_1_bunt"],"data":"{\"brightness\":255,\"hs_color\":[60.314,74.902]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":140,"wires":[[]]},{"id":"83d4cb3e.ab5ae8","type":"api-call-service","z":"60307493.14178c","name":"Frag ob Erinnerung restl. Tonnen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Habt ihr die restlichen Tonnen schon rausgestellt? Erneute Erinnerung in 30 Minuten?\",\"event_id\":\"actionable_notification_restliche_tonnen\",\"alexa_device\":\"media_player.alexa_wohnzimmer_echo_show\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":40,"wires":[[]]},{"id":"d058cd7d.fb3fc","type":"server-events","z":"60307493.14178c","name":"Alexa Actionable Notification","server":"5a3777c7.b71588","version":2,"eventType":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1150,"y":120,"wires":[["b1aeee2a.2a29c"]]},{"id":"b1aeee2a.2a29c","type":"switch","z":"60307493.14178c","name":"Restliche-Tonnen-Event","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_restliche_tonnen","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1400,"y":120,"wires":[["a37a6e41.1065c8"]]},{"id":"a37a6e41.1065c8","type":"switch","z":"60307493.14178c","name":"Responses","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1620,"y":120,"wires":[["ffd47fe.863cf8"],[],[]]},{"id":"ffd47fe.863cf8","type":"delay","z":"60307493.14178c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1620,"y":60,"wires":[["83d4cb3e.ab5ae8"]]},{"id":"ad6eac3e.cd3258","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy - Restl. Tonne raus stellen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Hast du schon die restlichen Tonnen rausgestellt?\",\"title\":\"Wichtige Nachricht von den Tonnen!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"Tonnen\"}}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":180,"wires":[[]]},{"id":"cb16ee27.831c98","type":"api-call-service","z":"60307493.14178c","name":"Esstisch 1,2, 3 & 4 blau","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.esstisch_2","light.esstisch_4","light.esstisch_3","light.esstisch_1_bunt"],"data":"{\"brightness\":255,\"hs_color\":[255.059,100]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":300,"wires":[[]]},{"id":"1e419592.dbe672","type":"api-call-service","z":"60307493.14178c","name":"Frag ob Erinnerung Papiertonne","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"text\":\"Habt ihr die Papiertonne schon rausgestellt? Erneute Erinnerung in 30 Minuten?\",\"event_id\":\"actionable_notification_papier_tonne\",\"alexa_device\":\"media_player.alexa_wohnzimmer_echo_show\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":240,"wires":[[]]},{"id":"7e6fd7d0.d83f9","type":"server-events","z":"60307493.14178c","name":"Alexa Actionable Notification","server":"5a3777c7.b71588","version":2,"eventType":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1150,"y":300,"wires":[["94d630d1.d67c68"]]},{"id":"94d630d1.d67c68","type":"switch","z":"60307493.14178c","name":"Papiertonne-Event","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_papier_tonne","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":300,"wires":[["fe9137b4.251318"]]},{"id":"fe9137b4.251318","type":"switch","z":"60307493.14178c","name":"Responses","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1620,"y":300,"wires":[["ffac68ea.32cf5"],[],[]]},{"id":"ffac68ea.32cf5","type":"delay","z":"60307493.14178c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1620,"y":240,"wires":[["1e419592.dbe672"]]},{"id":"269a0446.105fdc","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy - Papiertonne raus stellen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Hast du schon die Papiertonne rausgestellt?\",\"title\":\"Wichtige Nachricht von den Tonnen!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"Tonnen\"}}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":360,"wires":[[]]},{"id":"43325c9b1f5bf1f6","type":"ha-time","z":"60307493.14178c","name":"Abend vorher 18:00 triggern","server":"5a3777c7.b71588","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"calendar.mullabfuhr","property":"attributes.start_time","offset":"-6","offsetType":"num","offsetUnits":"hours","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":140,"y":340,"wires":[["1a61879a60224483"]]},{"id":"d1471199042a8e09","type":"switch","z":"60307493.14178c","name":"Welcher Müll?","property":"data.attributes.message","propertyType":"msg","rules":[{"t":"eq","v":"Restlichen Tonnen","vt":"str"},{"t":"eq","v":"Papiertonne","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":360,"wires":[["c09549454fa84c30"],["36c82fecae224127"]]},{"id":"1a61879a60224483","type":"api-current-state","z":"60307493.14178c","name":"Urlaubsmodus nicht aktiv","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.urlaubsmodus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":340,"wires":[["9bb8cfa383b1c294"],[]]},{"id":"9bb8cfa383b1c294","type":"ha-wait-until","z":"60307493.14178c","name":"Tristan bis 21Uhr zu Hause","server":"5a3777c7.b71588","version":2,"outputs":2,"entityId":"person.senbei","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":380,"y":400,"wires":[["d1471199042a8e09"],["939650f0e3c8722e"]]},{"id":"939650f0e3c8722e","type":"api-call-service","z":"60307493.14178c","name":"Msg an Tristan Handy - Tonne raus stellen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_von_tristan_ha","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Bist du nicht zu Hause? Tonne rausstellen lassen!\",\t   \"title\":\"Wichtige Nachricht von den Tonnen!\",\t   \"data\":{\t       \"type\":\"announce\",\t       \"method\":\"all\",\t       \"push\":{\"thread-id\":\"Tonnen\"}\t   }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":420,"wires":[[]]},{"id":"c09549454fa84c30","type":"junction","z":"60307493.14178c","x":740,"y":60,"wires":[["83d4cb3e.ab5ae8","ad6eac3e.cd3258","b82e5b9b.8239d8","46bc0e71.0ac1d"]]},{"id":"36c82fecae224127","type":"junction","z":"60307493.14178c","x":760,"y":280,"wires":[["1e419592.dbe672","cb16ee27.831c98","269a0446.105fdc"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
