sslzertifikaterneuern
[{"id":"8beed307557c36ae","type":"comment","z":"35de99a5f60b0429","name":"SSL Zertifikat erneuern (1x nachts)","info":"","x":180,"y":780,"wires":[]},{"id":"772af22aeb1bffd4","type":"inject","z":"35de99a5f60b0429","name":"06:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["e2166e08e13da50c"]]},{"id":"e2166e08e13da50c","type":"api-call-service","z":"35de99a5f60b0429","name":"HTTP Port öffnen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.fritzbox_port_forward_http_server"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":920,"wires":[["c4b1049036b1952d"]]},{"id":"6108a7f969d88a45","type":"api-call-service","z":"35de99a5f60b0429","name":"Let's Encrypt neu starten","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"hassio","service":"addon_start","areaId":[],"deviceId":[],"entityId":[],"data":"{\"addon\":\"core-letsencrypt\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":920,"wires":[["4fe21a1a005bfe81"]]},{"id":"4fe21a1a005bfe81","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1040,"y":920,"wires":[["1c2fe5d4633ea5dd"]]},{"id":"1c2fe5d4633ea5dd","type":"api-call-service","z":"35de99a5f60b0429","name":"HTTP Port schließen","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.fritzbox_port_forward_http_server"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":920,"wires":[["350928213edbd132"]]},{"id":"c4b1049036b1952d","type":"api-current-state","z":"35de99a5f60b0429","name":"Port offen?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fritzbox_port_forward_http_server","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":920,"wires":[["6108a7f969d88a45"],["f3f5d1d833adb042"]]},{"id":"f3f5d1d833adb042","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":840,"wires":[["e2166e08e13da50c"]]},{"id":"350928213edbd132","type":"api-current-state","z":"35de99a5f60b0429","name":"Port zu?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fritzbox_port_forward_http_server","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1560,"y":920,"wires":[[],["2c6a566bf82b4d84"]]},{"id":"2c6a566bf82b4d84","type":"delay","z":"35de99a5f60b0429","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1500,"y":860,"wires":[["1c2fe5d4633ea5dd"]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
