trocknerfertig
[{"id":"bcf0895d5549d7af","type":"power-monitor","z":"20f7bd7309c24b3c","name":"Grenze 5W","startthreshold":"5","stopthreshold":"0","startafter":"1","stopafter":1,"x":430,"y":120,"wires":[["38d8152f025cd0c7"]]},{"id":"b85854d354eb4cbf","type":"server-state-changed","z":"20f7bd7309c24b3c","name":"Verbrauch abfrage","server":"ddf3d40d.796ec8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.smart_socket_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":120,"wires":[["bcf0895d5549d7af"]]},{"id":"a58eb82cc086d983","type":"function","z":"20f7bd7309c24b3c","name":"\"Wäsche fertig!\"","func":"msg.payload.time = Math.round(msg.payload.time / 60);\nmsg.payload.cost = Math.round(msg.payload.energy * 29.5) / 100;\nmsg.payload = { \"data\": { \"message\": msg.payload.name + \" Wäsche ist fertig! Gesamte Zeit: \" + msg.payload.time + \" Minuten. Verbrauch: \" + msg.payload.energy + \" kWh. Kosten: \" + msg.payload.cost + \" €\", \"title\": \"Wichtige Nachricht aus dem Keller!\", \"data\": { \"group\": \"Wäschestatus\" } } };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["017de31db3ac425b"]]},{"id":"017de31db3ac425b","type":"api-call-service","z":"20f7bd7309c24b3c","name":"Nachricht ans Handy","server":"ddf3d40d.796ec8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_2201116pg","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":140,"wires":[[]]},{"id":"38d8152f025cd0c7","type":"switch","z":"20f7bd7309c24b3c","name":"Event abfragen","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"running","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":680,"y":120,"wires":[["050f02fb1ff26d53"],[],["a58eb82cc086d983"]]},{"id":"050f02fb1ff26d53","type":"function","z":"20f7bd7309c24b3c","name":"\"Wäsche gestartet\"","func":"msg.payload = { \"data\": { \"message\": \"Wäsche gestartet!\", \"title\": \"Wichtige Nachricht aus dem Keller!\", \"data\": { \"group\": \"Wäschestatus\" } } };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":100,"wires":[["017de31db3ac425b"]]},{"id":"9a4f0ab151f23ee4","type":"comment","z":"20f7bd7309c24b3c","name":"Waschmachinen Benachrichtigung","info":"","x":180,"y":60,"wires":[]},{"id":"ddf3d40d.796ec8","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]
