türzuerinnerung
[{"id":"74038897dde87f73","type":"server-state-changed","z":"e1a5c483.6c1fb8","name":"Terrassentür länger als 30sek auf","server":"5a3777c7.b71588","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wz_terrassentuer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":720,"wires":[["e83811b567a886a8"],[]]},{"id":"f2d7c78536339ab8","type":"comment","z":"e1a5c483.6c1fb8","name":"Hinweis, dass Tür zu soll wenn Temperatur Diff. zur Terrasse > 3 Grad","info":"","x":290,"y":660,"wires":[]},{"id":"e83811b567a886a8","type":"api-current-state","z":"e1a5c483.6c1fb8","name":"Temperatur Terrasse abfragen","server":"5a3777c7.b71588","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.terrasse_temperatur","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["9c4761fb4126d0f4"]]},{"id":"9c4761fb4126d0f4","type":"change","z":"e1a5c483.6c1fb8","name":"Temperatur -3","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload-3","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":720,"wires":[["e755ca0d7082aa03"]]},{"id":"e755ca0d7082aa03","type":"api-current-state","z":"e1a5c483.6c1fb8","name":"WZ Temperatur < ang. Terrassen Temp.","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"lt","entity_id":"sensor.wz_temperatur","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":720,"wires":[["3787dd96c25c1395"],[]]},{"id":"4fda78102ed381bc","type":"api-call-service","z":"e1a5c483.6c1fb8","name":"Msg an Alex WZ","server":"5a3777c7.b71588","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_wz_echo_show","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Terrassentür schließen!\",\"title\":\"Wichtige Nachricht vom Hitzeminister!\",\"data\":{\"type\":\"announce\",\"method\":\"all\",\"push\":{\"thread-id\":\"Hitze\"}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1840,"y":720,"wires":[["431d9b28e6c639be"]]},{"id":"431d9b28e6c639be","type":"delay","z":"e1a5c483.6c1fb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1740,"y":820,"wires":[["078a7db446601e17"]]},{"id":"078a7db446601e17","type":"api-current-state","z":"e1a5c483.6c1fb8","name":"Terrassentür noch offen?","server":"5a3777c7.b71588","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.wz_terrassentuer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1970,"y":820,"wires":[["4fda78102ed381bc"],[]]},{"id":"3787dd96c25c1395","type":"time-range-switch","z":"e1a5c483.6c1fb8","name":"","lat":"","lon":"","startTime":"10:00","endTime":"22:15","startOffset":0,"endOffset":0,"x":1430,"y":720,"wires":[["4fda78102ed381bc"],[]]},{"id":"5a3777c7.b71588","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]
